<main class='modal'>
  {{closeButton}}
  <form class="form-password">
    {{oldPassword}}
    {{newPassword}}
    {{newPasswordControl}}
    {{saveButton}}
    {{#if hasErrors}}
      {{error}}
    {{/if}}
  </form>
</main>
