<main class='modal'>
  {{closeButton}}
  <form>
    {{oldPassword}}
    {{newPassword}}
    {{newPasswordControl}}
    {{saveButton}}
    {{#if hasErrors}}
      {{error}}
    {{/if}}
  </form>
</main>
