<main class="modal">
  {{closeButton}}
  {{profilePhoto}}
  <form>
    {{login}}
    {{firstName}}
    {{secondName}}
    {{email}}
    {{phone}}
    {{saveButton}}
    {{#if hasErrors}}
      {{error}}
    {{/if}}
  </form>
</main>
